* @100Devs-ADHD







# architecture files
package.json @100Devs/architecture
pnpm-lock.yaml @100Devs/architecture
pnpm-workspace.yaml @100Devs/architecture
turbo.json @100Devs/architecture
.* @100Devs/architecture
.husky/ @100Devs/architecture
.github/ @100Devs/architecture
